* {
  --search-bar-color: #d8d8d8;
  --light-bg-color: rgb(249, 249, 249);
  --dark-bg-color: rgb(86, 86, 86);
  --dark-header-color: rgb(58, 58, 58);
  --light-header-color: rgb(255, 255, 255);
  --new-note-color: rgb(114, 223, 219);
  --main-font: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

html {
  margin: 0;
  font-family: var(--main-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--dark-bg-color);
}

.container {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.note-list {
  display: grid;
  grid-gap: 1rem;
  /* line below allows us to set a dynamic size for each note;
  the minimum size is 250px, and the max size is 1fr, which means
  1 fractional unit.
  syntax -> repeat(number of columns/rows, the column width we want); */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  /* minmax allows a RANGE of sizes to be set */
}

/* EXISTING NOTE STYLES */
.note {
  background-color: #fbf496;
  border-radius: 10px;
  padding: 1rem;
  min-height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-icon:hover {
  cursor: pointer;
}

/* NEW NOTE STYLES */
.note.new {
  background-color: var(--new-note-color);
  font-family: var(--main-font);
}

.note textarea {
  background-color: var(--new-note-color);
  border: none;
  resize: none;
  font-family: var(--main-font);
  font-size: 1.2rem;
}

.note textarea:focus {
  outline: none;
}

button.save {
  background-color: #f0f0f0;
  border: none;
  border-radius: 15px;
  padding: 5px 10px;
  transition: 0.05s;
}

button.save:hover {
  cursor: pointer;
  background-color: #f4f4f4;
  transform: scale(1.075);
}

/* SEARCH BAR STYLES */
.search-bar {
  height: 3rem;
  background-color: var(--search-bar-color);
  display: flex;
  align-items: center;
  border-radius: 5px;
  margin: 0 0 1rem 0;
}

.search-bar input {
  border: none;
  background-color: var(--search-bar-color);
  font-size: 1.25rem;
  width: 100%;
}

.search-icon {
  height: 1.5rem;
  width: auto;
  margin: 0.5rem 0.6rem 0 0.6rem;
}

.search-bar input:focus {
  outline: none;
}

/* PAGE HEADER STYLES */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  font-size: 2.8rem;
  margin: 1.5rem;
  color: var(--light-header-color);
}

#toggle_mode {
  height: 2.2rem;
  width: 8rem;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: var(--light-header-color);
  color: var(--dark-header-color);
  margin-right: 1.5rem;
  border-style: none;
  border-radius: 5px;
}
